@import "../common/variables";
@import "../common/extends";
@import "../common/mixins";

.main {
	background-color: $white-color;
	min-height: 90vh;
	.section1 {
		color: $white-color;
		padding: 16vh;
		background-color: $theme-secondary-color;
		h1 {
			text-align: center;
		}
	}
	.section2 {
		color: $white-color;
		height: 50vh;
		display: flex;
		align-items: center;
		.left {
			float: left;
			background-color: $white-color;
			width: 50%;
			.header1 {
				color: #72839f;
				display: flex;
				justify-content: center;
			}
			.desc1 {
				color: #6c6c71;
				margin: auto;
				width: 50%;
				padding: 10px;
				font-size: 18px;
			}
		}
		.right {
			float: left;
			width: 50%;
			img {
				height: 50vh;
				width: 100%;
			}
		}
	}
	.section3 {
		color: $white-color;
		// min-height: 40vh;
		background-color: rgb(220, 200, 241);
	}
}
