@import "../common/variables";
@import "../common/extends";
@import "../common/mixins";

.main {
	background-color: $white-color;
	min-height: 90vh;
	.section1 {
		color: $white-color;
		padding: 16vh;
		@media (max-width: $mobile-devices-max-width+px) {
			padding: 10vh;
		}
		background-color: $theme-secondary-color;
		h1 {
			text-align: center;
		}
	}
	.section2 {
		color: $white-color;
		height: 50vh;
		@media (max-width: $mobile-devices-max-width+px) {
			height: 40vh;
		}
		display: flex;
		align-items: center;
		.left {
			float: left;
			background-color: $white-color;
			width: 50%;
			@media (max-width: $mobile-devices-max-width+px) {
				width: 100%;
				// margin-top: 2px;
			}
			.header1 {
				color: #72839f;
				display: flex;
				justify-content: center;
				@media (max-width: $mobile-devices-max-width+px) {
					margin-top: 10px;
				}
			}
			.desc1 {
				color: #6c6c71;
				margin: auto;
				width: 50%;
				padding: 10px;
				font-size: 18px;
				@media (max-width: $mobile-devices-max-width+px) {
					font-size: 12px;
					width: 100%;
					padding: 10px;
				}
			}
		}
		.right {
			background-color: $theme-primary-color;
			float: left;
			width: 50%;
			height: 50vh;
			// img {
			// 	height: 50vh;
			// 	width: 100%;
			// 	@media (max-width: $mobile-devices-max-width+px) {
			// 		float: none;
			// 		max-width: 100%;
			// 		height: auto;
			// 	}
			// }
			// @media (max-width: $mobile-devices-max-width+px) {
			// 	float: none;
			// 	width: 100%;
			// }
		}
	}
}
